@import "space";
@import "palette";
@import "placeholder";

@mixin funcbox-comment($font-size-body) {
  .funcbox-comment-heading {
    margin-top: 0;
    font-size: 16px;
    color: $secondary-text-color;
  }
  .funcbox-placeholder {
    padding-left: 20px;
    background: $primary-color-text;
    color: $secondary-text-color;
    height: 60px;
    border: 1px solid rgba(0,0,0,.09);
    border-radius: 3px;
    display: flex;
    align-items: center;
    cursor: text;
  }

  .funcbox-placeholder:hover {
    box-shadow: 2px 2px 8px 0px rgba( 0, 0, 0, 0.2 );
  }

  .funcbox-placeholder-text.hide {
    display: none;
  }

}



