@import "reset";
@import "palette";
@import "link";
@import "comment";
@import "space";

//
//       CONSTANTS
//
$font-size-body: 20px;
$breakpoint-small: 460px;


//
//         LAYOUT
//
@supports (display: grid) {
  header {
    grid-area: hd;
  }
  section {
    grid-area: main;
  }
  footer {
    grid-area: ft;
  }
  .container {
    display: grid;
    grid-gap: 40px;
    grid-template-areas: "hd" "main" "ft";
    grid-template-rows: auto 1fr auto;
    height: 100vh;
  }
}


//
//         BODY
//
body {
  margin: 0;
  font-size: $font-size-body;
  background: $body-color;
}

//
//         MAX-WIDTH
//
.max-width {
  margin-right: auto;
  margin-left: auto;
  max-width: 40rem;
}

//
//         HEADER
//
header {
  background: $primary-color;
  color: $primary-color-text;
}
header h1 {
  margin: 0px;
  font-size: 40px;
}
header a {
  padding-top: 20px;
  padding-bottom: 20px;
  @include ph1-to-ph2($breakpoint-small);
  display: inline-block;
  color: $primary-color-text;
  @include link($primary-color, $primary-color-dark)
}

//
//        Components
//
#funcbox-comment { @include ph1-to-ph2($breakpoint-small); }
@include funcbox-comment($font-size-body);

